*{
    margin: 0;
    padding: 0;
    
}

@media only screen and (max-width: 600px){
    body{
        position: relative;
        color: #fff;
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-rows: 10% 0% 80% 10%;
    }
    /*header*/
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: black;
    }
    
    nav{
        display: flex;
        align-content: center;
        justify-content: center;
        background-color: darkgray;
    }

    #menu-icon{
        max-width: 40px;
    }

    /**/
    /*main*/
    main{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #000;
    }
    p{
        display: flex;
        justify-content: center;
    }
    /**/
    footer{
        background-color: #000;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    /**/ 
}

/*header*/
header{
    display: flex;
    justify-content: space-between;
}


.menu-icon{
    max-width: 50px;
}